.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows:2fr 2fr 2fr;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    min-height: 100vh;
    height: 700px;
    width: 1200px
}
  .box{
    /* background-color: aqua; */
  }
  #box1 {
    grid-row-start: 1;
    grid-row-end: 3;
     }
  #box7{
    grid-column-start: 2;
    grid-column-end: 4;
  }
  img{
    width:100%;
    height:100%;
   object-fit: cover;
   object-position: center;
  }
